<!doctype html>
<html>

<head>
<link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap-utilities.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<title>关注列表</title>
<meta name="referrer" content="no-referrer" />
</head>

<body>

<nav class="navbar navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" id="default-tab-nav" data-bs-toggle="pill" href="#default-list">默认</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="video-tab-nav" data-bs-toggle="pill" href="#video-list">新视频</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="live-tab-nav" data-bs-toggle="pill" href="#live-list">直播</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="live-tab-nav" data-bs-toggle="pill" href="#filter-list">分类</a>
        </li>
        <li class="nav-item">
            <select class="form-select" id="select-filter-type" onchange="on_filter_changed()">
                <option selected value="0">全部</option>
                <option value="1">特别关注</option>
            </select>
        </li>
    </ul>
    <span>
        <span id="status-display">
            {{ data.status }}
        </span>
        <span id="status-last-sync-uid" class="badge rounded-pill bg-dark">
        </span>
    </span>
    <div class="d-flex">
        <div class="dropdown pe-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-gear-fill"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" onclick="on_force_silence()">强制停止自动刷新</a></li>
                <li><a class="dropdown-item" onclick="on_force_arefresh()">强制激活自动刷新</a></li>
            </ul>
        </div>
        <input class="form-control me-2" type="search" placeholder="New follow's uid or space url etc." aria-label="Follow">
        <button class="btn btn-outline-success" type="submit" id="btn-follow">Follow</button>
    </div>
  </div>
</nav>

<div class="tab-content" style="padding-top: 3em; padding-bottom: 6em;">
    <div class="tab-pane active" id="default-list" role="tabpanel">
        <div class="d-flex flex-row flex-wrap mb-1" id="default-list-content" role="list-content">
            default-list
        </div>
    </div>
    <div class="tab-pane" id="video-list" role="tabpanel">
        <div class="d-flex flex-row flex-wrap mb-1" id="video-list-content" role="list-content">
            video-list
        </div>
    </div>
    <div class="tab-pane" id="live-list" role="tabpanel">
        <div class="d-flex flex-row flex-wrap mb-1" id="live-list-content" role="list-content">
            live-list
        </div>
    </div>
</div>

<div class="d-flex flex-row-reverse fixed-bottom">
    <div class="spinner-border text-primary" role="status" id="loading-spinner">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/index.js"></script>
</body>

</html>
