<!doctype html>
<html>

<head>
<link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap-utilities.min.css" rel="stylesheet">
<title>关注列表</title>
<meta name="referrer" content="no-referrer" />
</head>

<body>

<nav class="navbar navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" id="default-tab-nav" data-bs-toggle="pill" href="#default-list">默认</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="video-tab-nav" data-bs-toggle="pill" href="#video-list">新视频</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="live-tab-nav" data-bs-toggle="pill" href="#live-list">直播</a>
        </li>
    </ul>
    <div class="d-flex">
        <input class="form-control me-2" type="search" placeholder="New follow's uid or space url etc." aria-label="Follow">
        <button class="btn btn-outline-success" type="submit" id="btn-follow">Follow</button>
    </div>
  </div>
</nav>

<div class="tab-content" style="padding-top: 3em; padding-bottom: 6em;">
    <div class="tab-pane active" id="default-list" role="tabpanel">
        <div class="d-flex flex-row flex-wrap mb-1" id="default-list-content" role="list-content">
            default-list
        </div>
    </div>
    <div class="tab-pane" id="video-list" role="tabpanel">
        <div class="d-flex flex-row flex-wrap mb-1" id="video-list-content" role="list-content">
            video-list
        </div>
    </div>
    <div class="tab-pane" id="live-list" role="tabpanel">
        <div class="d-flex flex-row flex-wrap mb-1" id="live-list-content" role="list-content">
            live-list
        </div>
    </div>
</div>

<div class="d-flex flex-row-reverse fixed-bottom">
    <div class="spinner-border text-primary" role="status" id="loading-spinner">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/index.js"></script>
</body>

</html>
